# Python specific ignores
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env
venv/
*.sqlite3

# Logs
*.log

# Ignore IDE-specific files
.vscode/
.idea/

#Ignore temp files
temp/

#Run on docker container info
discordpacketreader-35651a57ebb7.json
Dockerfile*
.dockerignore